<app-navbar></app-navbar>
<div class="container">

    <div class="row">

        <div class="col-lg-2">

            <br>
            <div class="list-group"> 
             <a href="#" [routerLink]="['/matches']" class="list-group-item"><i class="fas fa-barcode fa-2x" style="color:MediumSeaGreen"></i><i class="fas fa-futbol" style="color:black"></i>&nbsp;&nbsp;Matchs</a>
             <a href="#"  [routerLink]="['/equipes']" class="list-group-item"><i class="fas fa-running fa-2x" ></i><i class="fas fa-futbol" style="color:black"></i>&nbsp;&nbsp;&nbsp;Teams</a>
             <a href="#" [routerLink]="['/arbitres']" class="list-group-item"><i class="fas fa-street-view fa-2x" style="color:Orange"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Referees</a>
             <!--a href="#" class="list-group-item">Staffs&nbsp;&nbsp;<i class="fas fa-users fa-2x"></i></a-->
            </div>
          
        </div>
              
          <!-- /.col-lg-2 -->
       
        <div class="col-lg-10">
    <div class="row">
        
        <div class="col">
            <h1 class="my-4">Team List</h1>
            <button class="btn btn-primary my-3 " [routerLink]="['/addEquipe']"><i class="fas fa-plus-square"></i>&nbsp;Add Team</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equipe of equipes | async">
                        <th scope="row">{{equipe.id}}</th>
                        <td>{{equipe.name}}</td>
                        <td>{{equipe.country}}</td>
                        <td>
                            <button (click)="equipeDetails(equipe.id)" class="btn btn-info"><i class="fas fa-info-circle"></i></button>
                            <button  (click)="updateEquipe(equipe.id)" class="btn btn-warning" style="margin-left: 10px"><i class="fas fa-edit"></i></button>
                            <button (click)="deleteEquipe(equipe.id)" class="btn btn-danger"style="margin-left: 10px"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
     </div>
    </div>
</div>  